[submodule "Dependencies/Gems/O3DECoreUtils"]
	path = Dependencies/Gems/O3DECoreUtils
	url = https://github.com/ChristianHinko/O3DECoreUtils
[submodule "Standards"]
	path = Standards
	url = https://github.com/b2hinkle/Standards.git
